---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import { Image, Picture } from "@astrojs/image/components";
import Card from "../components/card.astro";

const cards = [
  {
    id: "removals",
    title: "Removals & Home Moves",
    image: "/manunloading.png",
    description:
      "Let us handle your home move, we can help with packing, loading, unloading and unpacking.",
    info: "removals",
    book: "Book Now",
    model: {
      id: "removals",
      description:
        "Let us handle your home move, we can help with packing, loading, unloading and unpacking.",
    },
  },
  {
    id: "manandvan",
    title: "Man and van",
    image: "/mandelivering.png",
    description:
      "Hire us by the hour, great for small moves, single items, student moves, and more.",
    info: "manandvan",
    book: "Book Now",
    model: {
      description:
        "Let us handle your home move, we can help with packing, loading, unloading and unpacking.",
    },
  },
  {
    id: "courier",
    title: "Courier Service",
    image: "/parceldelivery.png",
    description:
      "We can deliver your parcels, packages, and pallets, same day or next day.",
    info: "courier",
    book: "Book Now",
    model: {
      description:
        "Let us handle your home move, we can help with packing, loading, unloading and unpacking.",
    },
  },
];
---

<Layout title="Welcome to MCR Movers.">
  <main>
    <Hero />
  </main>
  <section class="pt-5 max-w-6xl mx-auto">
    <h1 class="text-center header-text">
      Man And Van Services, Available 24 Hours A Day, 7 Days A Week
    </h1>
    <div class="px-5 lg:px-0">
      <div
        class="rounded-xl overflow-hidden shadow-xl grid grids-cols-1 lg:grid-cols-2 gap-5"
      >
        <figure class="">
          <Picture
            src="/manunloading.png"
            widths={[400, 800, 1200]}
            aspectRatio="16:9"
            alt="descriptive text"
            class="w-full h-full object-cover"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Man and Van services</h2>
          <p>
            Hire us by the hour, great for small moves, single items, student
            moves, and more.
          </p>
          <div>
            <h3>Simple pricing</h3>
            <div class="flex justify-between bg-slate-100 mb-1 p-1">
              <span>SWB + 1 man</span>
              <span>£30 per hour</span>
            </div>
            <div class="flex justify-between bg-slate-100 mb-1 p-1">
              <span>LWB + 1 man</span>
              <span>£45 per hour</span>
            </div>
            <div class="flex justify-between bg-slate-100 p-1">
              <span>Luton + 1 man</span>
              <span>£60 per hour</span>
            </div>
            <span class="text-sm"
              >each additional man £25 per hour (max 3 per van)</span
            >
          </div>
          <a href="/manandvan" class="btn btn-primary"> Book Now</a>
        </div>
      </div>
    </div>
  </section>
</Layout>
