---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import { Image, Picture } from "@astrojs/image/components";
import Card from "../components/card.astro";
import BookingForm from "../components/solid/bookingform";
import Accordion from "../components/accordion.astro";
import Gallery from "../components/solid/gallery";
import Badges from "../components/badges.astro";

const cards = [
  {
    id: "removals",
    title: "Removals & Home Moves",
    image: "/manunloading.png",
    description:
      "Let us handle your home move, we can help with packing, loading, unloading and unpacking.",
    info: "removals",
    book: "Book Now",
    model: {
      id: "removals",
      description:
        "Let us handle your home move, we can help with packing, loading, unloading and unpacking.",
    },
  },
  {
    id: "manandvan",
    title: "Man and van",
    image: "/mandelivering.png",
    description:
      "Hire us by the hour, great for small moves, single items, student moves, and more.",
    info: "manandvan",
    book: "Book Now",
    model: {
      description:
        "Let us handle your home move, we can help with packing, loading, unloading and unpacking.",
    },
  },
  {
    id: "courier",
    title: "Courier Service",
    image: "/parceldelivery.png",
    description:
      "We can deliver your parcels, packages, and pallets, same day or next day.",
    info: "courier",
    book: "Book Now",
    model: {
      description:
        "Let us handle your home move, we can help with packing, loading, unloading and unpacking.",
    },
  },
];

const images = [
  "/nexttovan.jpeg",
  "/mandelivering.png",
  "/manunloading.png",
  "/parceldelivery.png",
];
---

<Layout title="Welcome to MCR Movers.">
  <main>
    <Hero />
  </main>
  <section class="mt-5 max-w-6xl mx-auto">
    <div class="rounded-xl mx-5 lg:mx-0 shadow-xl overflow-hidden">
      <div class="overflow-hidden grid grids-cols-1 lg:grid-cols-2 gap-5">
        <figure class="">
          <Picture
            src="/nexttovan.jpeg"
            widths={[400, 800, 1200, 1600, 2000]}
            aspectRatio="16:9"
            alt="descriptive text"
            class="overflow-hidden object-cover h-full w-full"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Man and Van services</h2>
          <p>
            Hire us by the hour, great for small moves, single items, student
            moves, and more.
          </p>
          <div>
            <h3 class="pb-2 font-semibold">Simple pricing</h3>
            <div class="flex justify-between bg-slate-100 mb-1 p-1">
              <span>Transit + 1 man</span>
              <span>from £35 per hour</span>
            </div>

            <div class="flex justify-between bg-slate-100 p-1">
              <span>Luton + 1 man</span>
              <span>from £45 per hour</span>
            </div>
            <span class="text-sm"
              >each additional man £25 per hour (max 3 per van)</span
            >
          </div>
          <label for="my-drawer" class="btn btn-primary drawer-button"
            >Book</label
          >
        </div>
      </div>
    </div>
    <Badges />
    <div class="divider py-4"></div>
    <Accordion />

    <div class="divider py-4"></div>
    <Gallery client:load images={images} />
    <div class="divider py-4"></div>
  </section>
</Layout>
