<div class="space-y-3 mt-8">
  <div class="collapse collapse-arrow bg-primary">
    <input type="radio" name="my-accordion-2" checked="checked" />
    <div class="collapse-title text-xl font-medium">Where do you operate?</div>
    <div class="collapse-content">
      <p>
        We are based in Manchester but can deliver to any destination in the Uk
        or Europe.
      </p>
    </div>
  </div>
  <div class="collapse collapse-arrow bg-primary">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">Do you clean?</div>
    <div class="collapse-content">
      <p>hello</p>
    </div>
  </div>
  <div class="collapse collapse-arrow bg-primary">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">
      Click to open this one and close others
    </div>
    <div class="collapse-content">
      <p>hello</p>
    </div>
  </div>
</div>
