---
import { Image, Picture } from "@astrojs/image/components";
const { title, description, image, info, book } = Astro.props;

const handleInfoButtonClick = () => {
  const modal = document.getElementById("removals"); // Replace "removals" with the appropriate modal id
  if (modal instanceof HTMLDialogElement) {
    modal.showModal();
  }
};
---

<div class="card bg-base-100 shadow-xl">
  <figure>
    <Picture
      src={image}
      widths={[400, 800, 1200]}
      aspectRatio="16:9"
      alt="descriptive text"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <p>{description}</p>
    <div class="card-actions justify-end items-center">
      <button class="items-center text-gray-500 font-light text-sm">
        info...
      </button>
      <button class="btn btn-primary">Book</button>
    </div>
  </div>
</div>

<dialog id="removals" class="modal">
  <form method="dialog" class="modal-box">
    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Press ESC key or click the button below to close</p>
    <div class="modal-action">
      <!-- if there is a button in form, it will close the modal -->
      <button class="btn">Close</button>
    </div>
  </form>
</dialog>

<dialog id="manandvan" class="modal">
  <form method="dialog" class="modal-box">
    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Press ESC key or click the button below to close</p>
    <div class="modal-action">
      <!-- if there is a button in form, it will close the modal -->
      <button class="btn">Close</button>
    </div>
  </form>
</dialog>

<dialog id="courier" class="modal">
  <form method="dialog" class="modal-box">
    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Press ESC key or click the button below to close</p>
    <div class="modal-action">
      <!-- if there is a button in form, it will close the modal -->
      <button class="btn">Close</button>
    </div>
  </form>
</dialog>
