---
const page = {
  title: "Just Move | Man and van",
  description: "Your local Man and van in the Greater Manchester Area",
  content:
    "lorem ipsum dolor sit amet, consectetur adipiscing elit Nullam auctor nisl nec aliquam tincidunt, nunc nisl aliquet nunc, nec",
  number: "1234567890",
};
---

<section class="">
  <div class="hero min-h-[300px] bg-primary">
    <div class="text-center text-neutral-content">
      <div class="max-w-xl">
        <h1 class="mb-5 text-5xl text-black font-bold">{page.title}</h1>
        <p class="mb-5 text-gray-700">
          {page.description}
        </p>
      </div>
    </div>
  </div>
</section>
