---
const page = {
  title: "Simple low cost prices for all your moving needs",
  description: "Your local Man and van in the Greater Manchester Area",
  content: "",
  number: "1234567890",
};
---

<section class="">
  <div class="hero py-12 px-5 lg:px-0">
    <div class="text-center text-neutral-content">
      <div class="max-w-xl">
        <h1 class="mb-5 text-5xl text-black font-bold">{page.title}</h1>
        <p class="mb-5 text-gray-700">
          {page.description}
        </p>

        <a href="tel:{page.number}" class="btn btn-primary">Call Now</a>
      </div>
    </div>
  </div>
</section>
