---
import BookingForm from "./solid/bookingform";
---

<div class="navbar bg-base-100 mb-5 shadow-md">
  <div class="flex-none"></div>
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-2xl">Khider Man and Van</a
    >
  </div>
  <div class="flex-none space-x-2 z-50">
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Page content here -->
        <label for="my-drawer" class="btn btn-primary drawer-button">Book</label
        >
      </div>
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul
          class="p-4 w-full h-full overflow-y-auto bg-base-200 text-base-content"
        >
          <!-- X button to close the drawer -->
          <div class="flex justify-end">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
            <label for="my-drawer" class="btn btn-primary drawer-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-5 h-5 stroke-current"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </label>
          </div>

          <BookingForm client:load />
        </ul>
      </div>
    </div>

    <button class="hidden btn btn-square btn-ghost">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-5 h-5 stroke-current"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path></svg
      >
    </button>
  </div>
</div>
