---
import { Icon } from "astro-icon";
---

<div class="flex gap-5">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="flex items-center gap-5">
        <h2 class="card-title">Rick G...</h2>
        <Icon name="logos:google-icon" class="h-4 w-4" />
      </div>
      <p>
        Rented a van for my house move and needed an extra hand to help me move
        and load the van and a bit more space as I was running out, Khider
        showed up in less then an hour and did a fantastic job. He was very
        professional and I was very impressed with his work ethic. I would
        definitely recommend him to anyone who needs help moving.
      </p>
      <div class="card-actions justify-end"></div>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Mary K...</h2>
      <p>
        Rented a van for my house move and needed an extra hand to help me move
        and load the van and a bit more space as I was running out, Khider
        showed up in less then an hour and did a fantastic job. He was very
        professional and I was very impressed with his work ethic. I would
        definitely recommend him to anyone who needs help moving.
      </p>
      <div class="card-actions justify-end"></div>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Adam F...</h2>
      <p>
        Rented a van for my house move and needed an extra hand to help me move
        and load the van and a bit more space as I was running out, Khider
        showed up in less then an hour and did a fantastic job. He was very
        professional and I was very impressed with his work ethic. I would
        definitely recommend him to anyone who needs help moving.
      </p>
      <div class="card-actions justify-end"></div>
    </div>
  </div>
</div>
