---
import { Icon } from "astro-icon";
---

<div class="h-96 w-full carousel carousel-vertical rounded-box">
  <div class="carousel-item h-full">
    <div class="card bg-base-100 shadow-xl">
      <figure>
        <img src="/manunloading.png" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          Review
          <div class="badge badge-secondary">NEW</div>
        </h2>
        <p>Helped me move my one bedroom flat from Levenshulme to Longsight</p>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">1 Bedroom</div>
          <div class="badge badge-outline">Furniture move</div>
        </div>
        <div class="flex flex-col items-center">
          <span class="">scroll down</span>
          <Icon
            name="clarity:caret-line"
            class="text-base h-4 w-4 rotate-180"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item h-full">
    <div class="card bg-base-100 shadow-xl">
      <figure>
        <img src="/manunloading.png" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          Review
          <div class="badge badge-secondary">NEW</div>
        </h2>
        <p>Helped me move my one bedroom flat from Levenshulme to Longsight</p>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">1 Bedroom</div>
          <div class="badge badge-outline">Furniture move</div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item h-full">
    <div class="card bg-base-100 shadow-xl">
      <figure>
        <img src="/manunloading.png" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          Review
          <div class="badge badge-secondary">NEW</div>
        </h2>
        <p>Helped me move my one bedroom flat from Levenshulme to Longsight</p>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">1 Bedroom</div>
          <div class="badge badge-outline">Furniture move</div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item h-full">
    <div class="card bg-base-100 shadow-xl">
      <figure>
        <img src="/manunloading.png" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          Review
          <div class="badge badge-secondary">NEW</div>
        </h2>
        <p>Helped me move my one bedroom flat from Levenshulme to Longsight</p>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">1 Bedroom</div>
          <div class="badge badge-outline">Furniture move</div>
        </div>
      </div>
    </div>
  </div>
</div>
